@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

body {
    height: 100vh;
    font-family: Inter;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.logout-button {
    height: 3rem;
    width: 10rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #f1f1f1;
    font-size: 1.4rem;
    font-weight: 600;
}

.logout-button:hover {
    background-color: #e1e1e1;
}

.delete-button {
    height: 3rem;
    width: 3rem;
    border: none;
    border-radius: 100%;
    background-color: #ffffff;
    font-size: 1.4rem;
    font-weight: 600;
}

.delete-button:hover {
    background-color: #e1e1e1;
}

table {
    font-size: 1.5rem;
}

input {
    height: 3rem;
    width: 90%;
    border: 1px solid #e1e1e1;
    border-radius: 0.5rem;
    padding-left: 1rem;
    font-size: 1rem;
    font-weight: 400;
}
